*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
#pantalla{
    margin-left: 33%;
}
.boton{
    display: flex;
}

.boton:hover{
    background-color: blueviolet;
    cursor: pointer;
    border-radius: 10px;
}
